USE [master]
GO

/****** Object:  Database [AppCadConsClient]    Script Date: 14/11/2024 20:05:15 ******/
CREATE DATABASE [AppCadConsClient]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppCadConsClient', FILENAME = N'C:\Bancos\AppCadConsClient.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppCadConsClient_log', FILENAME = N'C:\Bancos\AppCadConsClient_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppCadConsClient].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


USE [AppCadConsClient]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[IdCity] [int] NOT NULL,
	[IdUF] [int] NOT NULL,
	[Cidade] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[CPF] [char](11) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[Rua] [nvarchar](150) NOT NULL,
	[Numero] [int] NOT NULL,
	[Bairro] [nvarchar](100) NOT NULL,
	[CEP] [char](9) NOT NULL,
	[IdCity] [int] NOT NULL,
	[IdUF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[idUF] [int] NOT NULL,
	[UF] [char](2) NOT NULL,
	[estado] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cidades] ([IdCity], [IdUF], [Cidade]) VALUES (1100015, 11, N'Alta Floresta D Oeste')
INSERT [dbo].[Cidades] ([IdCity], [IdUF], [Cidade]) VALUES (1100023, 11, N'Ariquemes')
INSERT [dbo].[Cidades] ([IdCity], [IdUF], [Cidade]) VALUES (1100031, 11, N'Cabixi')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [Nome], [Email], [CPF], [DataNascimento], [Rua], [Numero], [Bairro], [CEP], [IdCity], [IdUF]) VALUES (1, N'rafa', N'rafael.cuoco@gmail.com', N'40300078803', CAST(N'1991-03-22' AS Date), N'Concelheiro Saraiva', 1078, N'SANTANA', N'02037-020', 3550308, 35)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
INSERT [dbo].[Estados] ([idUF], [UF], [estado]) VALUES (11, N'RO', N'Rondônia')
INSERT [dbo].[Estados] ([idUF], [UF], [estado]) VALUES (12, N'AC', N'Acre')
INSERT [dbo].[Estados] ([idUF], [UF], [estado]) VALUES (13, N'AM', N'Amazonas')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__C1F89731EEDC7964]    Script Date: 14/11/2024 20:04:42 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InserirCliente]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[InserirCliente]
    @Nome NVARCHAR(200),
    @Email NVARCHAR(100),
    @CPF CHAR(11),
    @DataNascimento nvarchar(10),
    @Rua NVARCHAR(150),
    @Numero int,
    @Bairro NVARCHAR(100),
    @idCity int,
    @idUF int,
    @CEP CHAR(9)
AS
BEGIN

	DECLARE @Existe BIT = 0;
	SET @Existe = (SELECT (CASE WHEN IdCliente IS NOT NULL THEN 1 ELSE 0 END) AS EXISTE FROM Clientes WHERE CPF = @CPF);
	if(@Existe = 0)
	begin
    INSERT INTO Clientes (Nome, Email, CPF, DataNascimento, Rua, Numero, Bairro, CEP, IdCity, idUF)
    VALUES (@Nome, @Email, @CPF, @DataNascimento, @Rua, @Numero, @Bairro,@CEP, @idCity, @idUF);
	end;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObterClientePorCPF]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObterClientePorCPF]
@cpf varchar(11)
AS
BEGIN
    SELECT * FROM Clientes where CPF = @cpf;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObterClientes]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObterClientes] 
@nome varchar(200),
@datade varchar(11),
@datate varchar(11),
@cpf varchar(11)
AS
BEGIN
if(@nome = '') SET @nome = null;
if(@datade = '') SET @datade = null;
if(@datate = '') SET @datate = @datade;
if(@cpf = '') SET @cpf = null;
    SELECT * FROM Clientes where 
	(@nome is null or Nome like @nome) AND
	(@datade is null or DataNascimento between  @datade and @datate) AND
	(@cpf is null or CPF = @cpf) 
END;
GO
/****** Object:  StoredProcedure [dbo].[ObterTodasCidades]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObterTodasCidades]
AS
BEGIN
    SELECT* FROM Cidades order by Cidade asc;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObterTodosEstados]    Script Date: 14/11/2024 20:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObterTodosEstados]
AS
BEGIN
    SELECT idUF, UF,  (estado + ' - ' + UF) as Estado FROM Estados order by UF asc;
END;
GO
